<template>
<div class="forgetpassword-main">
    <div class="card" style="width:auto; min-width:400px; max-width:500px">
        <h5 class="card-header">Reset Password</h5>
        <div class="card-body">
            <form class="g-3" @submit.prevent="onsubmitemail()">
                <div class="mb-3">
                    <label id="emailinputlabel"  for="resetemailinput">Email</label>
                    <input v-model="email" :key="email.id" type="email" class="form-control" id="resetemailinput" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn mb-3">Send OTP</button>
                </div>
            </form>
        </div>
    </div>
</div>   
</template>
<script>
import swal from 'sweetalert'
import axios from 'axios'

export default {
    data(){
        return{
            email:""
        }
    },
    methods: {
        onsubmitemail(){
            const emailData= new URLSearchParams({
                email:this.email
            }).toString();
            axios.post('http://3.110.178.175:9192/forgot_password?'+emailData)
            .then((res)=>{
                const result=res.data
                console.log(result)
                swal({
                    title: "Good job!",
                    text: "OTP sent to your mail!",
                    icon: "success",
                    button: "Ok!",
                })
                .then(()=>{
                    this.$router.push('/forget/otp')
                })
            })
            .catch((err)=>{
                console.log(err.message)
                swal({
                    title: "Sorry!",
                    text: "Not a valid email!",
                    icon: "error",
                    button: "Ok!",
                })
                .then(()=>{
                    this.$router.push('/forget')
                })
            }); 
        }
    }
    
}
</script>
<style scoped>
.forgetpassword-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
    border-radius: 15px;
}
.card-header{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.card-body{
    background-color:#C7D3D4FF;
    color: #603F83FF ;
    border: 1px solid #603F83FF;
}
.btn{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.btn:hover{
    background-color:#76528BFF;
    color:rgb(57, 11, 68);
}
</style>