<template>
<div class="otp-main">
    <div class="card" style="max-width:700px">
        <h5 class="card-header">Submit OTP</h5>
        <div class="card-body">
            <form class="g-3" @submit.prevent="resetpassword()" >
                <div class="mb-3">
                    <label for="otpinput" id="otpinputlabel" >OTP</label>
                    <input v-model="otpNumber" type="number" class="form-control" id="otpinput" required>
                </div>
                <div class="mb-3">
                    <label for="resetpasswordinput" id="resetpasswordlabel" >New Password</label>
                    <input v-model="password" type="password" class="form-control" id="resetpasswordinput" required>
                </div>
                <div class="mb-3">
                    <label for="confirmpasswordinput" id="confirmpasswordlabel">Confirm Password</label>
                    <input v-model="confirmpassword" type="text" class="form-control" id="confirmpasswordinput" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn mb-3">Confirm Reset</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
    data(){
        return{
            otpNumber :'',
            password:'',
            confirmpassword:''
        }
    },
    methods: {
        resetpassword(){
            const data= new URLSearchParams({
                OtpNumber : this.otpNumber,
                Password : this.password,
            }).toString();
            if(this.password === this.confirmpassword){
                axios.post('http://3.110.178.175:9192/reset_password?'+data)
                .then((res)=>{
                    const result=res.data
                    console.log(result)
                    swal({
                        title: "Good job!",
                        text: "Password Changed !",
                        icon: "success",
                        button: "Ok!"
                    })
                    .then(()=>{
                        this.$router.push('/login')
                    });   
                })
                .catch((err)=>{
                    console.log(err.message)
                    swal({
                        title: "Sorry!",
                        text: "Password not changed!",
                        icon: "error",
                        button: "Ok!",
                    })
                    .then(()=>{
                        this.$router.push('/forget/otp')
                    })
                }); 
            } 
            else{
                swal({
                    title: "Sorry!",
                    text: "New password and confirm passwsord should be same!",
                    icon: "error",
                    button:"Ok!"
                })
                .then(()=>{
                    this.$router.push('/forget/otp')
                });  
            }  
        }
    }
}
</script>
<style scoped>
.otp-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
    border-radius: 15px;
}
.card-header{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.card-body{
    background-color:#C7D3D4FF;
    color: #603F83FF ;
    border: 1px solid #603F83FF;
}
.btn{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.btn:hover{
    background-color:#76528BFF;
    color: #C7D3D4FF;
}

</style>