<template>
    <div class="dashboard"> 
        <div class="row">
            <div class="col-md-12">
                <div class="dinline">
                    <h1 class="usersHead">Total Users - <span class="badge bg-danger text-light p-3">{{users.length}}</span> </h1>
                </div>
                <ag-grid-vue  
                    style="width: 100%; height:500px;"
                    class="ag-theme-alpine"
                    :columnDefs="columnDefs"
                    :rowData="rowData"
                    @grid-ready="onGridReady"
                    :enableRangeSelection="true"
                    :pagination="true"
                    :paginationPageSize="paginationPageSize">
                </ag-grid-vue>
            </div>
        </div>
    </div>  
</template>

<script>
    import axios from 'axios';
    import "ag-grid-community/dist/styles/ag-grid.css";
    import "ag-grid-community/dist/styles/ag-theme-alpine.css";
    import "ag-grid-community/dist/styles/ag-theme-bootstrap.css";
    import { AgGridVue } from "ag-grid-vue3";

    export default {
        components:{
            AgGridVue
     
        },
        data(){
            return{
                users:[],
                columnDefs:[
                    { headerName: "Id", field: "id" , filter : true , sortable : true, floatingFilter : true, width:140},
                    { headerName: "Username", field: "userName" , filter : true , sortable : true, floatingFilter : true},
                    { headerName: "First Name", field: "firstName" , filter : true , sortable : true, floatingFilter : true},
                    { headerName: "Last Name", field: "lastName" , filter : true , sortable : true, floatingFilter : true},
                    { headerName: "Email", field: "email" , filter : true , sortable : true, floatingFilter : true, width:300},
                    { headerName: "Mobile", field: "mobileNumber" , filter : true , sortable : true, floatingFilter : true},
                ],
                rowData: null,
                gridApi: null,
                columnApi: null,
                accountValue:{},
                paginationPageSize: 5

            }
            
        },
        methods:{
            onGridReady (params) {
                this.gridApi = params.api
                this.gridColumnApi = params.columnApi
            },
            onFilterTextBoxChanged () {
                return this.gridApi.setQuickFilter(this.filterValue)
            },
            getData(){
                axios.get('http://3.110.178.175:9192/listAllUsers')
                .then(resp => resp.data)
                .then(rowData => {
                    this.rowData = rowData
                    this.users = rowData
                })
            }

        },
        mounted(){
            this.getData();
            
        },
    }
</script>

<style lang="css" scoped>  
    .dashboard{
        margin: 0 30px;
        width: auto;
    }
    .usersHead{
        font-family:fantasy;
        color: #603F83FF;
    }
    .dinline{
        display:flex;
        margin: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    :deep(.ag-header){
        background-color:lightsteelblue;
    }
    :deep(.ag-paging-panel){
        background-color:lightsteelblue;
        color:#603F83FF;
        font: 14px fantasy;
        letter-spacing: 1px;
    }

    :deep(.ag-header-cell-label){
        color:#603F83FF;
        font: 18px fantasy;
        letter-spacing: 1px;
    }

</style>