<template>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content border-rd ">
        <div class="modal-header border-rd bg-info">
          <span class="h3 text-light modal-title">Hey , <span class="text-danger"> {{accountValue.firstName}} </span> </span><i class="bi bi-person" style="font-size:3rem" ></i>
        </div>
        <div class="modal-body bg-light">
          <div class="card p-2 bg-secondary rounded text-light">
            <p><b class="text-info"> ID :   </b>{{accountValue.id}} </p>
            <p><b class="text-info"> firstName : </b>{{accountValue.firstName}} </p>
            <p><b class="text-info"> lastName : </b> {{accountValue.lastName}} </p>
            <p><b class="text-info"> UserName : </b> {{accountValue.userName}} </p>
            <p><b class="text-info"> Phone :  </b> {{accountValue.mobileNumber}} </p>
            <p><b class="text-info"> Email : </b>{{accountValue.email}} </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        data(){
          return{
            time:'',
             accountValue:{}
          }
        },
        // props:['value'],
        mounted(){
          let token=sessionStorage.getItem('user-info')
          console.log("token value",token)
          function parseJwt(token) {
            if (!token) { return; }
              const base64Url = token.split('.')[1];
              const base64 = base64Url.replace('-', '+').replace('_', '/');
              return JSON.parse(window.atob(base64));
            }        
            this.accountValue=parseJwt(token)
          },
        methods:{
          
        }
    }
</script>

<style lang="css" scoped>
    .border-rd{
        border-radius: 30px;
        padding: auto;
    }
</style>