<template>
  <div>
    <nav class="navbar">
      <div class="container-fluid">
        <router-link class="navbar-brand" to="/">Sora</router-link>
        <p class="header_img" v-if="isLogged === true">  <i class="bi bi-person-circle" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" style="font-size:30px"> </i>  </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="font-size:28px;"></i>
          </span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hii !</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <router-link class="nav-link" to="/register" v-if="isLogged === false"> Register </router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/dashboard" v-if="isLogged === true"> Dashboard </router-link>
              </li> 
              <li class="nav-item">
                <router-link class="nav-link" to="/usersLogged" v-if="isLogged === true"> Login History </router-link>
              </li> 
              <li class="nav-item">
                <router-link class="nav-link" to="/login" v-if="isLogged === false" > Login </router-link>
              </li>
              <li class="nav-item" >
                <p class="nav-link" @click="logoutUser" v-if="isLogged === true">Logout</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { ref,onUpdated} from 'vue'
import { useRouter} from 'vue-router'

  export default {
    setup(){
      const isLogged = ref(false)
      const router = useRouter()

      const checkIfIsLogged = () => {
        let token = sessionStorage.getItem("user-info")
        if (token) {
          isLogged.value = true
        }else {
          isLogged.value = false
        }
      }

      checkIfIsLogged();

      const logoutUser = () => {
        sessionStorage.clear()
        router.replace('/')
        isLogged.value = false
      }

      onUpdated(()=>{
        checkIfIsLogged();
      })

      return{
        checkIfIsLogged,
        isLogged,
        logoutUser
      }

    }
    // data () {
    //   return {
    //     isLogged: false
    //   }
    // },
    // created() {
    //   this.isLogged = this.checkIfIsLogged()
    // },
    // updated(){
    //   this.isLogged = this.checkIfIsLogged()
    // },
    // methods : {
    //   checkIfIsLogged () {
    //     let token = sessionStorage.getItem("user-info")
    //     if (token) {
    //       return true
    //     } else {
    //       return false
    //     }
    //   },
    //   logoutUser(){
    //     sessionStorage.clear()
    //     this.$router.go()
    //     this.$router.push('/')
        
    //   }
    // }
  }
</script>

<style lang="css" scoped>
.navbar{
  background-color: #603F83FF;
}
.nav-link{
  color:#603F83FF;
}
.navbar-brand{
  color: #C7D3D4FF;
}
.navbar-brand:hover{
  color: rgb(57, 11, 68);
}
.nav-link:hover{
  color:gray;
}
.navbar{
    padding: 0;
}
.offcanvas-header{
  background-color: #603F83FF;
  color:#C7D3D4FF;
}
.btn-close{
  color:#C7D3D4FF;
}
.offcanvas-body{
  background-color: #C7D3D4FF;
}
.header_img {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  color:#C7D3D4FF;
}
.header_img:hover{
  color:rgb(57, 11, 68);
}
</style>