<template>
    <div class="loginHistory"> 
        <div class="row">
            <div class="col-md-12">
                <ag-grid-vue  style="width: 100%; height:580px;"
                    class="ag-theme-alpine"
                    :columnDefs="columnDefs"
                    :rowData="rowData"
                    @grid-ready="onGridReady"
                    :enableRangeSelection="true"
                    :pagination="true"
                    :paginationPageSize="paginationPageSize">
                </ag-grid-vue>
            </div>
        </div>
    </div>  
</template>

<script>
    import axios from 'axios';
    import "ag-grid-community/dist/styles/ag-grid.css";
    import "ag-grid-community/dist/styles/ag-theme-alpine.css";
    import "ag-grid-community/dist/styles/ag-theme-bootstrap.css";
    import { AgGridVue } from "ag-grid-vue3";

    export default {
        components:{
            AgGridVue
     
        },
        data(){
            return{
                users:[],
                columnDefs:[
                    { headerName: "Id", field: "id" , filter : true , sortable : true, floatingFilter : true, width:200},
                    { headerName: "Username", field: "username" , filter : true , sortable : true, floatingFilter : true, width:250},
                    { headerName: "Email", field: "email" , filter : true , sortable : true, floatingFilter : true, width:300},
                    { headerName: "Date", field: "loginDate" , sortable : true, floatingFilter : true ,width:250, filter: 'agDateColumnFilter',
                        filterParams: {
                        comparator: (filterLocalDateAtMidnight, cellValue) => {
                            const dateAsString = cellValue;
                            if (dateAsString == null) {
                                return 0;
                            }

                            const dateParts = dateAsString.split('-');
                            const day = Number(dateParts[2]);
                            const month = Number(dateParts[1]) - 1;
                            const year = Number(dateParts[0]);
                            const cellDate = new Date(year,month,day);
                            if (cellDate < filterLocalDateAtMidnight) {
                                return -1;
                            } else if (cellDate > filterLocalDateAtMidnight) {
                                return 1;
                            }
                            return 0;
                            }   
                        }
                    },
                    { headerName: "Time", field: "loginTime" , filter : true , sortable : true, floatingFilter : true, width:230,
                    // filterParams: {
                    //     comparator: (cellValue) => {
                    //         const filterTime = '00:00:00'
                    //         const timeAsString = cellValue;
                    //         if (timeAsString == null) {
                    //             return 0;
                    //         }

                    //         const timeParts = dateAsString.split(':');
                    //         const hour = Number(timeParts[2]);
                    //         const minute = Number(timeParts[2]);
                    //         const seconds = Number(timeParts[2]);
                    //         const cellDate = new Date(hour,minute,seconds);
                    //         if (cellDate < filterTime) {
                    //             return -1;
                    //         } else if (cellDate > filterTime) {
                    //             return 1;
                    //         }
                    //         return 0;
                    //         }   
                    //     }
                    }
                ],
                rowData: null,
                gridApi: null,
                columnApi: null,
                paginationPageSize: 12
            }
            
        },
        methods:{
            onGridReady (params) {
                this.gridApi = params.api
                this.gridColumnApi = params.columnApi
            },
            onFilterTextBoxChanged () {
                return this.gridApi.setQuickFilter(this.filterValue)
            },
            getData(){
                axios.get('http://3.110.178.175:9192/listAllLoggedUsers')
                .then(resp => resp.data)
                .then(rowData => {
                    this.rowData = rowData
                    console.log(this.rowData)
                })
                
            }

        },
        mounted(){
            this.getData();   
        },
    }
</script>

<style lang="css" scoped>  
    .loginHistory{
        margin: 30px;
        width: auto;
    }
    .dinline{
        display:flex;
        margin: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    :deep(.ag-header){
        background-color:lightsteelblue;
    }
    :deep(.ag-paging-panel){
        background-color:lightsteelblue;
        color:#603F83FF;
        font: 14px fantasy;
        letter-spacing: 1px;
    }

    :deep(.ag-header-cell-label){
        color:#603F83FF;
        font: 18px fantasy;
        letter-spacing: 1px;
    }

</style>