<template>
  <div id="app">
    <Canvas/>
    <Account v-if="profileToggle" />
    <router-view></router-view>
  </div>
</template>
<script>
// import 'bootstrap/dist/css/bootstrap.css'
// import 'bootstrap/dist/js/bootstrap.bundle.js'
import Canvas from './Layout/Navbar/Canvas.vue'
import Account from './Features/Account/Account.vue'

export default {
  name: 'DefaultLayout',
  components : {
    Canvas,
    Account
  },
  data(){
    return{
      profileToggle:false
    }
  },
  mounted(){
    let token=sessionStorage.getItem('user-info')
    if(token){
      this.profileToggle=true
    }else{
      this.profileToggle=false
    }
  }
 
}

</script>
<style scoped>
#app{
  margin: 0;
  padding: 0;
  background-color: #C7D3D4FF;
  height: 100vh;
}
</style>
