<template>
  <div class="body">
    <div class="container">
      <h1 class="display-1 text-dark">{{this.time}} !</h1>
    </div>
  </div>
</template>
<script> 

export default {
  name: 'DefaultLayout',
  data(){
    return{
      time : ''
    }
  },
  methods:{
    greet(){
      let currentTime = new Date().getHours();
      
      if(currentTime < 12){
        this.time = 'Good Morning'
      }else if(currentTime == 12){
        this.time = 'Good noon'
      }else if(currentTime > 12 && currentTime <= 15 ){
        this.time = 'Good Afternoon'
      }else if(currentTime > 20){
        this.time = 'Good Night'
      }
      else{
        this.time = 'Good Evening'
      }
    }
  },
  mounted() {
    this.greet();
  },
}

</script>
<style lang='css' scoped>
  .body{
    background-color:#C7D3D4FF;
    height:88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
