<template>
    <div class="body">
        <div class="form-align">
     <h1 class="text-dark display-4">Register </h1>
     <form @submit.prevent='handleSubmit' class="form-style">
         <label class="form-label text-light" >First Name</label>
         <input type="text" placeholder="Enter FirstName" id='firstName' v-model="firstName" class="form-controls"  />
         <span v-show="formErrors.firstName" class="errorSpan" >{{formErrors.firstName}} </span>
          <label class="form-label text-light" >Last Name</label>
         <input type="text" placeholder="Enter LastName" v-model="lastName" id='lastName' class="form-controls" />
         <span v-show="formErrors.lastName" class="errorSpan" >{{formErrors.lastName}} </span>
          <label class="form-label text-light " >Email</label>
         <input type="email" placeholder="Enter Email" id='email' v-model="email" class="form-controls"/>
         <span v-show="formErrors.email" class="errorSpan" >{{formErrors.email}} </span>
          <label class="form-label text-light" >User Name</label>
         <input type="text" placeholder="Enter UserName" id='userName' v-model="userName" class="form-controls" />
         <span v-show="formErrors.userName" class="errorSpan" >{{formErrors.userName}} </span>
          <label class="form-label text-light" >Password</label>
         <input type="password" placeholder="Enter Password" id='password' v-model="password" class="form-controls" />
         <span v-show="formErrors.password" class="errorSpan" >{{formErrors.password}} </span>
          <label class="form-label text-light" >Phone</label>
         <input type="number" placeholder="Enter Phone" id='phone' v-model="phone" class="form-controls" />
         <span v-show="formErrors.phone" class="errorSpan" >{{formErrors.phone}} </span>
         <button type="submit"  class="submit">Register</button>
     </form>
        </div>
    </div>
</template>


<script>
// import { v4 as uuidv4 } from 'uuid';
import swal from 'sweetalert'
// const axios = require('axios');
import axios from 'axios';

    export default {
        data(){
            return{
                firstName:'',
                lastName:'',
                email:'',
                userName:'',
                password:'',
                phone:'',
                errors:{},
                formErrors:{}
            }
        },
        methods:{   
            runValidation(){
                if(this.firstName.trim().length==0){
                    this.errors.firstName="FirstName Required"
                }
                if(this.lastName.trim().length==0){
                    this.errors.lastName="LastName Required"
                }
                 const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(!re.test(String(this.email).toLowerCase())){
                    this.errors.email="Invalid Email"
                }
                if(this.email.trim().length==0){
                    this.errors.email="Email Required"
                }
                if(this.userName.trim().length==0){
                    this.errors.userName="UserName Required"
                }
                if(this.password.length<=5 || this.password.length>=10){
                    this.errors.password="Password Should not more than 10 and less than 5"
                }
                if(this.password.trim().length==0){
                    this.errors.password="Password Required"
                }
                if(this.phone.length==0){
                    this.errors.phone="Phone Number Required"
                }
            },

            handleSubmit(){
                this.formErrors={}
                this.errors={}

                    this.runValidation()

                if(Object.keys(this.errors).length===0){
                    this.formErrors={}
                    const userData={
                        firstName:this.firstName,
                        lastName:this.lastName,
                        email:this.email,
                        userName:this.userName,
                        password:this.password,
                        mobileNumber:this.phone
                    }
                    console.log(userData)
                    axios.post('http://3.110.178.175:9192/signup',userData)
                    .then((res)=>{
                        const result=res.data
                        console.log(result)
                        swal({
                            title: "Good job!",
                            text: "You Succesfully Registered!",
                            icon: "success",
                            button: "Ok!",
                        })
                        .then(()=>{
                            this.$router.push({path:`/register/verify/${this.email}`})
                            this.firstName='',
                            this.lastName='',
                            this.email='',
                            this.userName='',
                            this.password='',
                            this.phone=''
                        });
                    
                    })
                    .catch((err)=>{
                        console.log(err.message)
                        alert(err.message)
                    })
                    }else{
                        Object.assign(this.formErrors,this.errors)
                    }   
                }
            }
        }

</script>


<style lang="css" scoped>
.form-style{
    background: #603F83FF;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.submit{
    padding: 8px;
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    color:#603F83FF;
    background:#C7D3D4FF;
}
.submit:hover{
    background:#603F83FF;
    color:#C7D3D4FF;
}

.body, input{
    text-align: center;
    align-content: center;
    height: 35px;
    width: 300px;
    font-size: 18px;

}
.body{
    background-color: #C7D3D4FF;
    color: #603F83FF;
    height: 120vh;
    width: 100%;
}
.form-align{
    width: auto;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 30px;
}
h1{
    font-weight: 100;
    
}
.errorSpan{
    color: rgba(212, 57, 18, 0.712);
    font-size: 17px;
    display: block;
}

.form-controls{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    background: lavender;
}

</style>