<template>
<div class="otp-main">
    <div class="card" style="width:auto; min-width:400px; max-width:500px">
        <h5 class="card-header">Submit OTP</h5>
        <div class="card-body">
            <v-otp-input
                class="otp-input"
                separator="-"
                :num-inputs="4"
                :should-auto-focus="true"
                :is-input-num="true"
                @on-change="handleOnChange"
                @on-complete="handleOnComplete"
            /> 
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
    data(){
        return{
            email:''
        }
    },
    methods: {
        handleOnComplete(value){
            const otpData = {
                email:this.email,
                otpNumber:value
            }
            console.log('OTP completed: ', value);
            console.log(otpData.otpNumber)
            console.log(otpData.email)
            axios.post('http://3.110.178.175:9192/verifyOtp',otpData)
            .then((res)=>{
                const result=res.data
                console.log(result)
                if(result.message === 'Valid Otp'){
                    swal({
                        title: "Good job!",
                        text: "OTP successfully verified",
                        icon: "success",
                        button: "Ok!",
                    })
                    .then(()=>{
                        this.$router.push('/login')
                    });
                }else{
                    swal({
                        title: "Sorry!",
                        text: "OTP failed!",
                        icon: "error",
                        button: "Ok!",
                    })
                    .then(()=>{
                        this.$router.replace('/register')
                    });
                }
                
            })
            .catch((err)=>{
                console.log(err.message)
                alert(err.message)
            })
        },
        handleOnChange(value){
            console.log('OTP changed: ', value);
        }
    },
    mounted(){
        this.email = this.$route.params.email;
        console.log(this.email,'worked')
        const emailData= new URLSearchParams({
                email:this.email
        }).toString();
        axios.post('http://3.110.178.175:9192/verifyEmail?'+emailData)
            .then((res)=>{
                const result=res.data
                console.log(result)
            })
            .catch((err)=>{
                console.log(err.message)
                alert(err.message)
            });
    }
}
</script>
<style scoped>
.otp-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
    border-radius: 15px;
}
.card-header{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.card-body{
    background-color:#C7D3D4FF;
    color: #603F83FF ;
    border: 1px solid #603F83FF;
}
.btn{
    background-color: #603F83FF;
    color: #C7D3D4FF;
}
.btn:hover{
    background-color:#76528BFF;
    color: #C7D3D4FF;
}
.otp-input {
    padding: 2px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.otp-input :deep(input) {
    height: 40px;
    width: 50px;
}
</style>